{% extends 'base.html.twig' %}

{% block body %}
    <h1>Modifier le profil de {{ student.firstname}} {{ student.lastname}}</h1>
    {% include('student/form.html.twig') %}

    <button class="btn btn-primary margin-xl" type="submit" name="action" style="margin-top: 30px;">
        Sauvegarder !
    </button>
    {{ form_end(form) }}

{% endblock %}
